<%= form_with model: @mypage_mentarity_form, method: :post, url: mypage_mentarity_path, local: true do |f| %>
<div class="sign-up">
    <div class="form-heading">プロフィール登録</div>
    <div class="form-explaration">
        <p>ID就活ではご登録情報を元に最適な就活サービスを提供いたします。<br>プロフィール情報は必ずご入力いただきますようお願いいたします。</p>
        <p class="profile-promise">※学生にとって不利益になる情報を企業にリークしたり、公開することは一切ありません。詳しくはプライバシーポリシーをご覧ください。</p>
    </div>
    <div class="general-profile">
        <div class="general-title">就活の軸</div>
             <div class="form-detail form-top">
                 <p>重視する働き方</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:work_style_ids,WorkStyle.all, :id, :name) do |ef| %>
                         <%= ef.check_box(class: "checkbox")  %>
                         <%= ef.label(class: "profile-check"){ ef.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視する福利厚生</p>
                 <div class="profile-core-form core-welfare">
                     <%= f.collection_check_boxes(:welfare_ids,Welfare.all, :id, :name) do |ff| %>
                        <%= ff.check_box(class: "checkbox")  %>
                        <%= ff.label(class: "profile-check"){ ff.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視する企業の特徴</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:company_feature_ids,CompanyFeature.all, :id, :name) do |gf| %>
                    <%= gf.check_box(class: "checkbox")  %>
                    <%= gf.label(class: "profile-check"){ gf.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視するポイント</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:company_point_ids,CompanyPoint.all, :id, :name) do |hf| %>
                        <%= hf.check_box(class: "checkbox")  %>
                        <%= hf.label(class: "profile-check"){ hf.text } %>
                     <% end %>
                 </div>
             </div>
　　</div>
</div>
<div class="profile-container">
  <a href="javascript:history.back()" class="event-schedule-bottom-left">戻る</a>
  <%= f.submit "編集内容を更新する", class: "event-schedule-bottom-right" %>
  <% end %>
</div>