<% provide(:title, "ログイン") %>

<div class="sign-up">
    <div class="form-heading">ログイン</div>
  <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-detail">
            <p>メールアドレス</p>
            <%=f.email_field :email, class: "form-field" %>
          </div>
          <div class="form-detail">
            <p>パスワード</p>
            <%=f.password_field :password, class: "form-field"  %>
          </div>
          <%= f.label :remember_me, class: "checlbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>ログイン状態を保持する</span>
          <% end  %>
          <%=f.submit "確認メールを送信する", class: "form-submit" %>
  <% end %>
  <div class="mail-guide"><a href="/password_resets/new">>パスワードを忘れた方はこちら</a></div>
  <div class="login-guide"><a href="#" >>新規会員登録はこちら</a></div>
</div>