<div class="partner-contents">
    <div class="partner-menus">
        <div class="partner-menu partner-change">
            <a href="/partner_page/dashboard">ダッシュボード</a>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="fuu">
                <p>応募者管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section fuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>応募者一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="guu">
                <p>求人管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section guu">
                <li class="partner-menu-list">
                    <a href="/partner_page/event">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="nuu">
                <p>募集要項</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section nuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/profile">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="muu">
                <p>広告設定</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section muu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList ruu">
                <p>アカウント管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section ruu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner-dashboard">
        <h2>ダッシュボード</h2>
        <div class="dashboard-situation">
            <h3>エントリー状況</h3>
            <h4>本選考</h4>
            <% current_company.events.where(category:1).each do |i| %>
            <div class="entry-situation">
                <div class="dashboard-title">
                    <h4><%= i.name %></h4>
                </div>
                <div class="entry-people">
                    <div class="entry-person">
                        <h6>本日のエントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>本日のキャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総エントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count + CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総キャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-blank">
                    
                    </div>
                    <div class="entry-person">
                        <h6>参加予定数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count %><span>名</span></h2>
                    </div>
                </div>
            </div>
            <% end %>
            <h4>インターン・ジョブ</h4>
            <% current_company.events.where(category:2).each do |i| %>
            <div class="entry-situation">
                <div class="dashboard-title">
                    <h4><%= i.name %></h4>
                </div>
                <div class="entry-people">
                    <div class="entry-person">
                        <h6>本日のエントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>本日のキャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総エントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count + CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総キャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-blank">
                    
                    </div>
                    <div class="entry-person">
                        <h6>参加予定数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count %><span>名</span></h2>
                    </div>
                </div>
            </div>
            <% end %>
            <h4>説明会・企業セミナー</h4>
            <% current_company.events.where(category:3).each do |i| %>
            <div class="entry-situation">
                <div class="dashboard-title">
                    <h4><%= i.name %></h4>
                </div>
                <div class="entry-people">
                    <div class="entry-person">
                        <h6>本日のエントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>本日のキャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).where("created_at >= ?", Time.current.beginning_of_day).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総エントリー数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count + CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-person">
                        <h6>総キャンセル数</h6>
                        <h2 class="cancel-color"><%= CancelUser.where(event: i.id).count %><span>名</span></h2>
                    </div>
                    <div class="entry-blank">
                    
                    </div>
                    <div class="entry-person">
                        <h6>参加予定数</h6>
                        <h2 class="entry-color"><%= UserEvent.where(event_id: i.id).count %><span>名</span></h2>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script>
  $(function(){
  $('.section').hide();
  
  $('.secList').on('click',function(){
        // クリックした要素の ID と違うクラス名のセクションを非表示
    $('.section').not($('.'+$(this).attr('id'))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $('.'+$(this).attr('id')).toggle();
  });
});
</script>