<div class="partner-contents">
    <div class="partner-menus">
        <div class="partner-menu">
            <a href="/partner_page/dashboard">ダッシュボード</a>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="fuu">
                <p>応募者管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section fuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>応募者一覧</span></a>
                </li>
                <li class="partner-menu-list">
                    <a href="/partner_page/apply">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList partner-change" id="guu">
                <p>求人管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists guu">
                <li class="partner-menu-list">
                    <a href="/partner_page/event">> 本選考</a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="nuu">
                <p>募集要項</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section nuu">
                <li class="partner-menu-list">
                    <a href="/partner_page/profile">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList" id="muu">
                <p>広告設定</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section muu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
        <div class="partner-menu">
            <div class="partner-menu-item secList ruu">
                <p>アカウント管理</p>
                <img src="/assets/partner_bar.svg">
            </div>
            <ul class="partner-menu-lists section ruu">
                <li class="partner-menu-list">
                    <a href="#">> <span>本選考</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>ジョブ・インターン</span></a>
                </li>
                <li class="partner-menu-list">
                    <a>> <span>説明会・企業セミナー</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner-dashboard">
        <h2>求人管理</h2>
        <div class="dashboard-situation">
            <div class="partner-profile-title">
                <p>本選考</p>
                <a href="/partner_page/entry/new">新規作成する　　></a>
            </div>
            <div class="partner-event-entries">
                <% current_company.events.where(category:1).each do |i| %>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：<%= i.updated_at.strftime("%Y/%m/%d") %></p>
                        <%= link_to '編集する', edit_partner_page_event_path(i) %>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4><%= i.name %></h4>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span><%= UserEvent.where(event_id: i.id).count %></span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="dashboard-situation">
            <div class="partner-profile-title">
                <p>ジョブ・インターン</p>
                <a href="/partner_page/internship/new">新規作成する　　></a>
            </div>
            <div class="partner-event-entries">
                <% current_company.events.where(category:2).each do |i| %>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：<%= i.updated_at.strftime("%Y/%m/%d") %></p>
                        <%= link_to '編集する', edit_partner_page_event_path(i) %>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4><%= i.name %></h4>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span><%= UserEvent.where(event_id: i.id).count %></span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="dashboard-situation">
            <div class="partner-profile-title">
                <p>説明会・企業セミナー</p>
                <a href="/partner_page/seminar/new">新規作成する　　></a>
            </div>
            <div class="partner-event-entries">
                <% current_company.events.where(category:3).each do |i| %>
                <div class="partner-event-entry">
                    <div class="partner-event-entry-title">
                        <p>最終更新日：<%= i.updated_at.strftime("%Y/%m/%d") %></p>
                        <%= link_to '編集する', edit_partner_page_event_path(i) %>
                    </div>
                    <div class="partner-event-entry-body">
                        <h4><%= i.name %></h4>
                    </div>
                    <div class="partner-event-entry-bottom">
                        <p>現在応募人数：<span><%= UserEvent.where(event_id: i.id).count %></span>人</p>
                        <a href="#">応募者一覧  ></a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
  $(function(){
  $('.section').hide();
  
  $('.secList').on('click',function(){
        // クリックした要素の ID と違うクラス名のセクションを非表示
    $('.section').not($('.'+$(this).attr('id'))).hide();
    // クリックした要素の ID と同じクラスのセクションを表示
    $('.'+$(this).attr('id')).toggle();
  });
});
</script>