<div class="container">
    <div class="mypage-title">就活コラム</div>
    <p>就活に関する記事や特集記事をまとめています。</p>
    <div class="content-companies-index">
        <div class="search-box">
            <div class="search-title">
                <p>カテゴリー</p>
            </div>
            <div class="search-category">
                <div class="search-category-title">
                    <% if params[:category]  == '就活初心者向けコンテンツ' %>
                    <input type="checkbox" class="search-way" id="label2"  checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label2" />
                    <% end %>
                    <label for="label2" class="search-way-title">就活初心者向けコンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to '就活初心者向けコンテンツ一覧' , articles_path(category: '就活初心者向けコンテンツ')%></p>
                        <p><%= link_to '就活の基礎' , articles_path(category: '就活初心者向けコンテンツ', sub_category: '就活の基礎')%></p>
                        <p><%= link_to '自己分析' , articles_path(category: '就活初心者向けコンテンツ', sub_category: '自己分析')%></p>
                        <p><%= link_to '企業・業界分析' , articles_path(category: '就活初心者向けコンテンツ', sub_category: '企業・業界分析')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == '業界別コンテンツ' %>
                    <input type="checkbox" class="search-way" id="label3" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label3" />
                    <% end %>
                    <label for="label3" class="search-way-title">業界別コンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to '業界別コンテンツ一覧' , articles_path(category: '業界別コンテンツ')%></p>
                        <p><%= link_to 'コンサル' , articles_path(category: '業界別コンテンツ', sub_category: 'コンサル')%></p>
                        <p><%= link_to '金融' , articles_path(category: '業界別コンテンツ', sub_category: '金融')%></p>
                        <p><%= link_to 'メーカー' , articles_path(category: '業界別コンテンツ', sub_category: 'メーカー')%></p>
                        <p><%= link_to '商社' , articles_path(category: '業界別コンテンツ', sub_category: '商社')%></p>
                        <p><%= link_to 'IT・通信' , articles_path(category: '業界別コンテンツ', sub_category: 'IT・通信')%></p>
                        <p><%= link_to '広告・マスコミ' , articles_path(category: '業界別コンテンツ', sub_category: '広告・マスコミ')%></p>
                        <p><%= link_to '人材・教育' , articles_path(category: '業界別コンテンツ', sub_category: '人材・教育')%></p>
                        <p><%= link_to 'インフラ・交通' , articles_path(category: '業界別コンテンツ', sub_category: 'インフラ・交通')%></p>
                        <p><%= link_to '不動産・建築' , articles_path(category: '業界別コンテンツ', sub_category: '不動産・建築')%></p>
                        <p><%= link_to '旅行・観光' , articles_path(category: '業界別コンテンツ', sub_category: '旅行・観光')%></p>
                        <p><%= link_to 'ブライダル' , articles_path(category: '業界別コンテンツ', sub_category: 'ブライダル')%></p>
                        <p><%= link_to '医療・福祉' , articles_path(category: '業界別コンテンツ', sub_category: '医療・福祉')%></p>
                        <p><%= link_to '小売・流通' , articles_path(category: '業界別コンテンツ', sub_category: '小売・流通')%></p>
                        <p><%= link_to '公務員・団体職員' , articles_path(category: '業界別コンテンツ', sub_category: '公務員・団体職員')%></p>
                        <p><%= link_to 'その他' , articles_path(category: '業界別コンテンツ', sub_category: 'その他')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == '選考対策コンテンツ' %>
                    <input type="checkbox" class="search-way" id="label4" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label4" />
                    <% end %>
                    <label for="label4" class="search-way-title">選考対策コンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to '選考対策コンテンツ一覧' , articles_path(category: '選考対策コンテンツ')%></p>
                        <p><%= link_to 'エントリーシート(ES)' , articles_path(category: '選考対策コンテンツ', sub_category: 'エントリーシート')%></p>
                        <p><%= link_to '志望動機' , articles_path(category: '選考対策コンテンツ', sub_category: '志望動機')%></p>
                        <p><%= link_to '筆記試験・Webテスト' , articles_path(category: '選考対策コンテンツ', sub_category: '筆記試験・Webテスト')%></p>
                        <p><%= link_to 'グループディスカッション(GD)' , articles_path(category: '選考対策コンテンツ', sub_category: 'グループディスカッション(GD)')%></p>
                        <p><%= link_to '面接' , articles_path(category: '選考対策コンテンツ', sub_category: '面接')%></p>
                        <p><%= link_to 'インターン・ジョブ' , articles_path(category: '選考対策コンテンツ', sub_category: 'インターン・ジョブ')%></p>
                        <p><%= link_to 'OB訪問・リクルーター面接' , articles_path(category: '選考対策コンテンツ', sub_category: 'OB訪問・リクルーター面接')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == '所属別コンテンツ' %>
                    <input type="checkbox" class="search-way" id="label5" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label5" />
                    <% end %>
                    <label for="label5" class="search-way-title">所属別コンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to '所属別コンテンツ一覧' , articles_path(category: '所属別コンテンツ')%></p>
                        <p><%= link_to '体育会系' , articles_path(category: '所属別コンテンツ', sub_category: '体育会系')%></p>
                        <p><%= link_to '女子学生' , articles_path(category: '所属別コンテンツ', sub_category: '女子学生')%></p>
                        <p><%= link_to '理系学生' , articles_path(category: '所属別コンテンツ', sub_category: '理系学生')%></p>
                        <p><%= link_to '大学院生' , articles_path(category: '所属別コンテンツ', sub_category: '大学院生')%></p>
                        <p><%= link_to '留学生・帰国子女・海外大生' , articles_path(category: '所属別コンテンツ', sub_category: '留学生・帰国子女・海外大生')%></p>
                        <p><%= link_to '早期就活生(1,2年生向け)' , articles_path(category: '所属別コンテンツ', sub_category: '早期就活生(1,2年生向け)')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == 'キャリアコンテンツ' %>
                    <input type="checkbox" class="search-way" id="label6" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label6" />
                    <% end %>
                    <label for="label6" class="search-way-title">キャリアコンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to 'キャリアコンテンツ一覧' , articles_path(category: 'キャリアコンテンツ')%></p>
                        <p><%= link_to '日系大手でのキャリア' , articles_path(category: 'キャリアコンテンツ', sub_category: '日系大手でのキャリア')%></p>
                        <p><%= link_to '外資系でのキャリア' , articles_path(category: 'キャリアコンテンツ', sub_category: '外資系でのキャリア')%></p>
                        <p><%= link_to 'ベンチャーでのキャリア' , articles_path(category: 'キャリアコンテンツ', sub_category: 'ベンチャーでのキャリア')%></p>
                        <p><%= link_to 'その他のキャリア' , articles_path(category: 'キャリアコンテンツ', sub_category: 'その他のキャリア')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == '内定者向けコンテンツ' %>
                    <input type="checkbox" class="search-way" id="labe7" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label7" />
                    <% end %>
                    <label for="label7" class="search-way-title">内定者向けコンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to '内定者向けコンテンツ一覧' , articles_path(category: '内定者向けコンテンツ')%></p>
                        <p><%= link_to '入社先の選択' , articles_path(category: '内定者向けコンテンツ', sub_category: '入社先の選択')%></p>
                        <p><%= link_to '内定辞退' , articles_path(category: '内定者向けコンテンツ', sub_category: '内定辞退')%></p>
                        <p><%= link_to '内定後の課題・スキルアップ' , articles_path(category: '内定者向けコンテンツ', sub_category: '内定後の課題・スキルアップ')%></p>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:category] == 'その他のコンテンツ' %>
                    <input type="checkbox" class="search-way" id="label8" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label8" />
                    <% end %>
                    <label for="label8" class="search-way-title">その他のコンテンツ</label>
                    <div class="search-category-item hidden-show">
                        <p><%= link_to 'その他のコンテンツ一覧' , articles_path(category: 'その他のコンテンツ')%></p>
                        <p><%= link_to 'インタービュー' , articles_path(category: 'その他のコンテンツ', sub_category: 'インタビュー')%></p>
                        <p><%= link_to '連載記事' , articles_path(category: 'その他のコンテンツ', sub_category: '連載記事' )%></p>
                        <p><%= link_to '息抜きコンテンツ' , articles_path(category: 'その他のコンテンツ', sub_category: '息抜きコンテンツ')%></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-contents">
            <% if params[:category] %>
                <div class="article-category">
                    <% if !params[:sub_category] %>
                        <h4>#<%= params[:category] %></h4>
                    <% else %>
                        <h4>#<%= params[:sub_category] %></h4>
                    <% end %>
                </div>
                <div class="events-searches">
                    <% @article.each do |article| %>
                        <div class="article-search">
                            <div class="article-search-head">
                                <%=image_tag article.img.to_s%>
                            </div>
                            <div class="events-search-title">
                                <p><a href="/articles/<%= article.id %>"></a><%= article.title%></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <div class="article-top">
                    <img src="/assets/top.png">
                </div>
                <div class="articles-links">
                    <div class="article-link">
                        <div class="head">
                            <p>リリース企画</p>
                        </div>
                        <img src="/assets/release_planning.svg">
                        <a>詳しくはこちら</a>
                    </div>
                    <div class="article-link">
                        <div class="head">
                            <p>リリース企画</p>
                        </div>
                        <img src="/assets/release_planning.svg">
                        <a>詳しくはこちら</a>
                    </div>
                    <div class="article-link-end">
                        <div class="head">
                            <p>リリース企画</p>
                        </div>
                        <img src="/assets/release_planning.svg">
                        <a>詳しくはこちら</a>
                    </div>
                </div>
                <div class="companies-wrapper">
                    <p>新着コラム</p>
                    <div class="companies-search">
                        <% Article.all.order(id: "DESC").limit(6).each do |i| %>
                        <div class="event-search">
                            <%= image_tag i.img.to_s %>
                            <p><a href="/articles/<%= i.id %>"></a><%= i.title %></p>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="companies-wrapper">
                    <p>人気コラム</p>
                    <div class="companies-search">
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                        <div class="event-search">
                            <img src="/images/event_top.svg">
                            <p>【PR業界】危機管理広報とは？コーポレート広報のプロ集団・危機管理と広報/株式会社エイレックス社</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<script>
    $(function(){
  
  $('.event-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.article-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
   
});
</script>
