<div class="container">
    <div class="mypage-title">就活コラム</div>
    <p>就活に関する記事や特集記事をまとめています。</p>
    <div class="article-middle">
        <div class="article-left">
            <div class="article-head">
                <%= image_tag @article.img.to_s, class: 'article-main-img' %>
                <h1><%= @article.title %></h1>
            </div>
            <div class="article-tables" id="toc">
              <h4>目次</h4>
            </div>
            <div class="article-content">
                <%= Article.find_by(id: params[:id]).content.html_safe %>
            </div>
        </div>
        <div class="article-right">
            <% if logged_in? %>
            <div class="profile-wrapper article-profile">
                <p><%= current_user.name %>さんのためのトップリンク</p>
                <div class="my-top-links">
                    <% current_user.work_styles.order("RANDOM()").limit(1).each do |i| %>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p><a href="/special_link?work_style=<%= i.id %>"></a><%= i.name %></p>
                    </div>
                    <% end %>
                    <% current_user.welfares.order("RANDOM()").limit(1).each do |i| %>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p><a href="/special_link?welfare=<%= i.id %>"></a><%= i.name %></p>
                    </div>
                    <% end %>
                    <% current_user.company_features.order("RANDOM()").limit(1).each do |i| %>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p><a href="/special_link?company_feature=<%= i.id %>"></a><%= i.name %></p>
                    </div>
                    <% end %>
                    <% current_user.company_points.order("RANDOM()").limit(1).each do |i| %>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p><a href="/special_link?company_point=<%= i.id %>"></a><%= i.name %></p>
                    </div>
                    <% end %>
                </div>
            </div>
            <% else %>
            <div class="profile-wrapper article-profile">
                <p>迫田良平さんのためのトップリンク</p>
                <div class="my-top-links">
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p>慶應義塾大学</p>
                    </div>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p>慶應義塾大学</p>
                    </div>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p>慶應義塾大学</p>
                    </div>
                    <div class="my-top-link">
                        <img src="/assets/school.svg">
                        <p>慶應義塾大学</p>
                    </div>
                </div>
                <div class="my-top-link-middle">
                    <p>ログイン後にあなた専用のトップリンクに変わります</p>
                    <%= link_to "ログイン",login_path %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script>
{
    // 設定
    const TOC_INSERT_SELECTOR = '#toc';              // [セレクター指定] 目次を挿入する要素 querySelector用
    const HEADING_SELECTOR    = 'h2,h3'; // [セレクター指定] 収集する見出し要素 querySelectorAll用
    const LINK_CLASS_NAME     = 'tocLink';           // [クラス名] 目次用aタグに追加するクラス名     .無し
    const ID_NAME             = 'heading';           // [ID名]    目次に追加するID名のプレフィックス #無し
    const tocInsertElement    = document.querySelector(TOC_INSERT_SELECTOR);
    const headingElements     = document.querySelectorAll(HEADING_SELECTOR);
    const layer = [];
    let id = 0;
    const uid   = () =>`${ID_NAME}${id++}`;
    let oldRank = -1;
    try {
        const createLink = (el) => {
            let li = document.createElement('li');
            let a  = document.createElement('a');
            el.id  = el.id || uid();
            a.href = `#${el.id}`;
            a.innerText = el.innerText;
            a.className = LINK_CLASS_NAME;
            li.appendChild(a);
            return li;
        };
        const findParentElement = (layer, rank, diff) => {
            do {
                rank += diff;
                if (layer[rank]) return layer[rank];
            } while (0 < rank && rank < 7);
            return false;
        };
        const appendToc = (el, toc) => {
            el.appendChild(toc.cloneNode(true));
        };
        headingElements.forEach( (el) => {
            let rank   = Number(el.tagName.substring(1));
            let parent = findParentElement(layer, rank, -1);
            if (oldRank > rank) layer.length = rank + 1;
            if (!layer[rank]) {
                layer[rank] = document.createElement('ol');
                if (parent.lastChild) parent.lastChild.appendChild(layer[rank]);
            }
            layer[rank].appendChild(createLink(el));
            oldRank = rank;
        });
        if (layer.length) appendToc(tocInsertElement, findParentElement(layer, 0, 1));
    } catch (e) {
        //error 
    }
}
</script>
