<div class="container">
    <% if params[:industry] || params[:area] || params[:work_style] ||  params[:welfare] || params[:feature] || params[:point] %>
    <div class="mypage-title"><%= @special_title %>のリンクページ</div>
    <% else %>
    <div class="mypage-title">おすすめのリンクページ</div>
    <% end %>
    <p>掲載されている企業情報をまとめています！<br>登録情報に基づいたおすすめ企業情報については<a href="#">こちら</a>。</p>
    <div class="content-companies-index">
        <div class="search-box">
            <div class="search-title">
                <p>カテゴリー</p>
            </div>
            <div class="search-category">
                <div class="search-category-title">
                    <% if params[:industry] %>
                    <input type="checkbox" class="search-way" id="label2"  checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label2" />
                    <% end %>
                    <label for="label2" class="search-way-title">業界</label>
                    <div class="search-category-item hidden-show">
                        <% @industries.each do |i| %>
                            <p><%= link_to i.name , special_link_path(industry: i.id)%></p>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:area] %>
                    <input type="checkbox" class="search-way" id="label3" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label3" />
                    <% end %>
                    <label for="label3" class="search-way-title">地域</label>
                    <div class="search-category-item hidden-show">
                        <% @WorkAreas.each do |i| %>
                            <p><%= link_to i.name , special_link_path(area: i.id)%></p>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:work_style] %>
                    <input type="checkbox" class="search-way" id="label4" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label4" />
                    <% end %>
                    <label for="label4" class="search-way-title">働き方</label>
                    <div class="search-category-item hidden-show">
                        <% @WorkStyles.each do |i| %>
                            <p><%= link_to i.name , special_link_path(work_style: i.id)%></p>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:welfare] %>
                    <input type="checkbox" class="search-way" id="label5" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label5" />
                    <% end %>
                    <label for="label5" class="search-way-title">福利厚生</label>
                    <div class="search-category-item hidden-show">
                        <% @welfares.each do |i| %>
                            <p><%= link_to i.name , special_link_path(welfare: i.id)%></p>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:feature] %>
                    <input type="checkbox" class="search-way" id="label6" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label6" />
                    <% end %>
                    <label for="label6" class="search-way-title">企業の特徴</label>
                    <div class="search-category-item hidden-show">
                        <% @features.each do |i| %>
                            <p><%= link_to i.name , special_link_path(feature: i.id)%></p>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if params[:point] %>
                    <input type="checkbox" class="search-way" id="label7" checked="true" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label7" />
                    <% end %>
                    <label for="label7" class="search-way-title">選考の特徴</label>
                    <div class="search-category-item hidden-show">
                        <% @points.each do |i| %>
                            <p><%= link_to i.name , special_link_path(point: i.id)%></p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-contents">
            <div class="companies-wrapper">
                    <% if params[:industry] || params[:area] || params[:work_style] ||  params[:welfare] || params[:feature] || params[:point] %>
                    <p><%= @special_title %>のイベント</p>
                    <% else %>
                    <p>IT・インターネット会社のイベント</p>
                    <% end %>
                    <div class="companies-search">
                        <% if params[:industry] || params[:area] || params[:work_style] ||  params[:welfare] || params[:feature] || params[:point] %>
                            <% @event.limit(6).each do |i| %>
                                <div class="event-search">
                                    <%=image_tag i.img.to_s %>
                                    <p><a href="/events/<%= i.id %>"></a><%= i.name %></p>
                                </div>
                            <% end %>
                        <% else %>
                            <% Event.includes(:company => :industries).where(industries: { id: 1 }).limit(8).each do |a| %>
                                <div class="event-search">
                                    <%=image_tag a.img.to_s %>
                                    <p><a href="/events/<%= a.id %>"></a><%= a.name %></p>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
            </div>
            <div class="companies-wrapper">
                    <% if params[:industry] || params[:area] || params[:work_style] ||  params[:welfare] || params[:feature] || params[:point] %>
                        <p><%= @special_title %></p>
                    <% else %>
                        <p>関東の企業</p>
                    <% end %>
                    <div class="companies-search">
                        <% if params[:industry] || params[:area] || params[:work_style] ||  params[:welfare] || params[:feature] || params[:point] %>
                            <% @company.limit(8).each do |a| %>
                                <div class="company-search">
                                    <%= image_tag a.icon.to_s %>
                                    <p><a href="/companies/<%= a.id %>"><%= a.name %></a></p>
                                </div>
                            <% end %>
                        <% else %>
                            <% Company.joins(:work_areas).where(work_areas: {id: [1]}).limit(8).each do |a| %>
                                <div class="company-search">
                                    <%= image_tag a.icon.to_s %>
                                    <p><a href="/companies/<%= a.id %>"><%= a.name %></a></p>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
            </div>
        </div>
    </div>
    <div class="recomended-companies">
        
    </div>
</div>

<script>
    $(function(){
  
  $("#identity-condition-click").click(function () {
        if ($(this).text() === "+") {
            $(this).text("-");
        } else {
            $(this).text("+");
        }
        $('.'+$(this).attr('id')).toggle();
    });
    
  $('.section').hide();
    $('#recomended-second').hide();
  
  $('.events-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.event-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $('#recomended-second').hide();
    $('.second').click(function(){
        $('#recomended-second').show();
        $('#recomended-first').hide();
    });
    $('.first').click(function(){
        $('#recomended-first').show();
        $('#recomended-second').hide();
    });
    
    $('.recomended-search-content').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $('.company-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
   
});
</script>
