<div class="container">
    <div class="company-wrapper">
        <div class="head">
            <p>新着企業</p>
        </div>
        <div class="companies">
            <% Company.all.limit(12).each do |i| %>
                <% if i.icon.present? %>
                    <%= link_to image_tag(i.icon.to_s, class: "company") , "/companies/#{i.id}" %>
                <% else %>
                    <%= link_to image_tag('no_image.png', class: "company"), "/companies/#{i.id}" %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="top-contents">
        <% if logged_in? %>
        <div class="profile-wrapper">
            <p><%= current_user.name %>さんのためのトップリンク</p>
            <div class="my-top-links">
                <% current_user.work_styles.order("RANDOM()").limit(1).each do |i| %>
                <div class="my-top-link">
                    <img src="/assets/重視する働き方.svg">
                    <p><a href="/special_link?work_style=<%= i.id %>"></a><%= i.name %></p>
                </div>
                <% end %>
                <% current_user.welfares.order("RANDOM()").limit(1).each do |i| %>
                <div class="my-top-link">
                    <img src="/assets/重視する福利厚生.svg">
                    <p><a href="/special_link?welfare=<%= i.id %>"></a><%= i.name %></p>
                </div>
                <% end %>
                <% current_user.company_features.order("RANDOM()").limit(1).each do |i| %>
                <div class="my-top-link">
                    <img src="/assets/重視する企業の特徴.svg">
                    <p><a href="/special_link?company_feature=<%= i.id %>"></a><%= i.name %></p>
                </div>
                <% end %>
                <% current_user.company_points.order("RANDOM()").limit(1).each do |i| %>
                <div class="my-top-link">
                    <img src="/assets/重視する採用の特徴.svg">
                    <p><a href="/special_link?company_point=<%= i.id %>"></a><%= i.name %></p>
                </div>
                <% end %>
            </div>
        </div>
        <% else %>
        <div class="profile-wrapper">
            <p>あなたのためのトップリンク</p>
            <div class="my-top-links">
                <div class="my-top-link">
                    <img src="/assets/重視する働き方.svg">
                    <p>テレワーク</p>
                </div>
                <div class="my-top-link">
                    <img src="/assets/重視する福利厚生.svg">
                    <p>年間休日多</p>
                </div>
                <div class="my-top-link">
                    <img src="/assets/重視する企業の特徴.svg">
                    <p>部活動あり</p>
                </div>
                <div class="my-top-link">
                    <img src="/assets/重視する採用の特徴.svg">
                    <p>私服ok</p>
                </div>
            </div>
            <div class="my-top-link-middle">
                <p>ログイン後にあなた専用のトップリンクに変わります</p>
                <%= link_to "ログイン",login_path %>
            </div>
        </div>
        <% end %>
        <div class="favorite-event-wrapper">
            <% if logged_in? && EventHistory.where(user_id: current_user.id).count > 0 %>
                <div class="head">
                    <p>最近チェックしたイベント</p>
                </div>
                <% EventHistory.where(user_id: current_user.id).order(id: "DESC").limit(1).each do |i| %>
                <div class="event-icon">
                    <%=image_tag Event.find_by(id: i.event_id).img.to_s %><a href="/events/<%=i.event_id%>"></a>
                </div>
                 <div class="your-watching-event">
                     <%= Event.find_by(id: i.event_id).name %>
                 </div>
                <% end %>
            <% else %>
                <div class="head">
                    <p>面接対策イベント</p>
                </div>
                <div class="event-icon">
                    <img src="/assets/藤田さんイベント_サムネ.png">
                </div>
                <div class="top-event-title">
                    <p>45万冊の大ベストセラー「1分で話せ」を活用した面接対策イベント</p>
                </div>
                <a href="/events/54">詳しくはこちら</a>
            <% end %>
        </div>
        <div class="announce-wrapper">
            <div class="head">
                <p>就活初心者向けイベント</p>
            </div>
            <div class="event-icon">
                <img src="/assets/西井さんイベント_ヘッダ画像_修正版.jpg">
            </div>
            <div class="top-event-title">
                <p>さあ、短時間で就活の一歩を踏み出そう 〜完全初心者向け、就活ロードマップ〜</p>
            </div>
            <a href="/events/53">詳しくはこちら</a>
        </div>
        <div class="pr-movie-wrapper">
            <div class="movie-link">
                <img src="/assets/interesting_movie.svg">
                <div class="movie-top">
                </div>
                <div class="movie-bottom">
                </div>
                <div class="movie-front">
                    <h2>おもしろ採用PR動画PICK UP</h2>
                    <p>株式会社和光電気</p>
                </div>
            </div>
            <div class="movie-explaration">
                <p>上司から与えられたミッションは<br>「サイコロを振って4連続で1を出す」<br>こと。<br>しかも部屋に出ることが許されない、<br>一見むちゃぶりとも思える<br>ミッションなのですが、<br>実は「自社の機材は使ってよい」という<br>条件付きのもの。<br>果たしてこの上司からのむちゃぶりに<br>部下は無事クリアすることが<br>できるのか。</p>
            </div>
        </div>
        <div class="original-event-wrapper">
            <div class="head">
                <p>女子限定イベント</p>
            </div>
            <div class="event-icon">
                <img src="/assets/戸田さんイベント_リサイズ.png">
            </div>
            <div class="top-event-title">
                <p>就活仲間がほしい！そんな女子のための女子大生による女子限定　 自己PR壁打ちイベント</p>
            </div>
            <a href="/events/52">詳しくはこちら</a>
        </div>
        <div class="company-feature-wrapper">
            <div class="head">
                <p>特徴からイベント・企業を探す</p>
            </div>
            <div class="companies-features">
                <div class="companies-feature">
                    <img src="/assets/重視する企業の特徴.svg">
                    <a href="/special_link?feature=7">多角的な事業展開</a>
                </div>
                <div class="companies-feature">
                    <img src="/assets/重視する福利厚生.svg">
                    <a href="/special_link?welfare=6">慶弔・災害支援あり</a>
                </div>
                <div class="companies-feature">
                    <img src="/assets/重視する働き方.svg">
                    <a href="/special_link?work_style=9">完全週休二日制</p>
                </div>
                <div class="companies-feature">
                    <img src="/assets/志望業界.svg">
                    <a href="/special_link?industry=1">IT・インターネット</a>
                </div>
                <div class="companies-feature">
                    <img src="/assets/志望勤務エリア.svg">
                    <a href="/special_link?area=1">関東の企業</a>
                </div>
            </div>
        </div>
        <div class="release-planning it-telework-wrapper">
            <div class="head">
                <p>IT×テレワーク企業の特集</p>
            </div>
            <img src="/assets/IT×テレワーク.jpg">
            <a href="/companies?industry=1&area=&occupation=&work_style=2&welfare=&feature=&point=#companies-results">詳しくはこちら</a>
        </div>
        <div class="release-planning many-holiday-wrapper">
            <div class="head">
                <p>育児休暇×残業少実施企業のイベント特集</p>
            </div>
            <img src="/assets/育児休暇×残業少.jpg">
            <a href="/events?category=&industry=&area=&work_style=&welfare=1&feature=4&point=#event-results">詳しくはこちら</a>
        </div>
        <div class="consulting-introduce young-growth-wrapper">
            <div class="head">
                <p>平均年齢が20代×成長性が高い企業特集</p>
            </div>
            <img src="/assets/平均年齢が20代×成長性が高い.jpg">
            <a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=3,8&point=#companies-results">詳しくはこちら</a>
        </div>
        <div class="browsing-recomended">
            <p>関東のイベント</p>
            <div class="browsing-recomended-events">
                <% Event.includes(:company => :work_areas).where(work_areas:{id: 1}).limit(4).each do |a| %>
                <div class="browsing-recomended-event">
                    <%= image_tag a.img.to_s %>
                    <p><%= a.name %></p><a href="/events/<%= a.id %>"></a>
                </div>
                <% end %>
            </div>
        </div>
        <div class="browsing-recomended">
            <p>あなたにおすすめなイベント</p>
            <div class="browsing-recomended-events">
                <% if logged_in? && current_user.event_histories.count == 1 %>
                    <% current_user.event_histories.each do |i| %>
                        <%= image_tag Event.find_by(id: event_id).to_s %>
                        <p><%= i.name %></p><a href="/events/<%= i.id %>"></a>
                    <% end %>
                <% end %>
                <% if logged_in? && current_user.event_histories.count == 2 %>
                    <% current_user.event_histories.each do |i| %>
                        <%= image_tag i.img.to_s %>
                        <p><%= i.name %></p><a href="/events/<%= i.id %>"></a>
                    <% end %>
                <% end %>
                <% if logged_in? && current_user.event_histories.count == 3 %>
                    <% current_user.event_histories.each do |i| %>
                        <%= image_tag i.img.to_s %>
                        <p><%= i.name %></p><a href="/events/<%= i.id %>"></a>
                    <% end %>
                <% end %>
                <% if logged_in? && current_user.event_histories.count == 4 %>
                <% end %>
                <% if !logged_in? || (logged_in? && current_user.event_histories.count == 0 ) %>
                <% end %>
                <div class="browsing-recomended-event">
                    <%= image_tag a.img.to_s %>
                    <p><%= a.name %></p><a href="/events/<%= a.id %>"></a>
                </div>
                <% else %>
                <% if Event.includes(:company => :industries).where(:user_events).limit(4).each do |a| %>
                <div class="browsing-recomended-event">
                    <%= image_tag a.img.to_s %>
                    <p><%= a.name %></p><a href="/events/<%= a.id %>"></a>
                </div>
                <% else %>
                <div class="browsing-recomended-event">
                    <%= image_tag a.img.to_s %>
                    <p><%= a.name %></p><a href="/events/<%= a.id %>"></a>
                </div>
                <% end %>
            </div>
        </div>
        <div class="release-planning no-entrysheet-wrapper">
            <div class="head">
                <p>エントリーシート不要の企業特集</p>
            </div>
            <img src="/assets/エントリーシート不要.jpg">
            <a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=&point=1#companies-results">詳しくはこちら</a>
        </div>
        <div class="release-planning stable-stay-wrapper">
            <div class="head">
                <p>安定経営×転勤なし企業のイベント特集</p>
            </div>
            <img src="/assets/安定経営×転勤なし.jpg">
            <a href="/events?category=&industry=&area=&work_style=4&welfare=&feature=9&point=#event-results">詳しくはこちら</a>
        </div>
        <div class="consulting-introduce casual-cloth-wrapper">
            <div class="head">
                <p>選考私服OK企業のイベント特集</p>
            </div>
            <img src="/assets/選考私服OK.jpg">
            <a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=&point=3#companies-results">詳しくはこちら</a>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.my-top-link').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $('.announce-wrapper').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $('.favorite-event-wrapper').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.browsing-recomended-events').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.companies-feature').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.release-planning').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    $('.consulting-introduce').click(function(){
        location.href=$(this).find('a').attr('href');
    });
});
</script>