<div class="sign-up">
    <div class="form-heading">プロフィール登録(ステップ2/2)</div>
    <div class="form-explaration">
        <p>ID就活ではご登録情報を元に最適な就活サービスを提供いたします。<br>プロフィール情報は必ずご入力いただきますようお願いいたします。</p>
        <p class="profile-promise">※学生にとって不利益になる情報を企業にリークしたり、公開することは一切ありません。詳しくはプライバシーポリシーをご覧ください。</p>
    </div>
    <div class="general-profile">
        <div class="general-title">就活の軸</div>
    　　　<%= form_for @user do |f| %>
             <div class="form-detail form-top">
                 <p>志望企業規模</p>
                 <div class="profile-core-form">
                    <%= f.collection_check_boxes(:company_scale_ids,CompanyScale.all, :id, :name) do |af| %>
                       <%= af.label{ af.check_box + af.text } %>
                    <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>志望業界</p>
                 <div class="profile-core-form ">
                     <%= f.collection_check_boxes(:industry_ids,Industry.all, :id, :name) do |bf| %>
                        <%= bf.label{ bf.check_box + bf.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>志望職種</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:occupation_ids,Occupation.all, :id, :name) do |cf| %>
                         <%= cf.label{ cf.check_box + cf.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>志望勤務エリア</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:work_area_ids,WorkArea.all, :id, :name) do |df| %>
                     　　<%= df.label{ df.check_box + df.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視する働き方</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:work_style_ids,WorkStyle.all, :id, :name) do |ef| %>
                         <%= ef.label{ ef.check_box + ef.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視する福利厚生</p>
                 <div class="profile-core-form core-welfare">
                     <%= f.collection_check_boxes(:welfare_ids,Welfare.all, :id, :name) do |ff| %>
                        <%= ff.label{ ff.check_box + ff.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視する企業の特徴</p>
                 <div class="profile-core-form core-company-feature">
                     <%= f.collection_check_boxes(:company_feature_ids,CompanyFeature.all, :id, :name) do |gf| %>
                     　　<%= gf.label{ gf.check_box + gf.text } %>
                     <% end %>
                 </div>
             </div>
             <div class="form-detail">
                 <p>重視するポイント</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:company_point_ids,CompanyPoint.all, :id, :name) do |hf| %>
                        <%= hf.label{ hf.check_box + hf.text } %>
                     <% end %>
                 </div>
             </div>
　　         <%= hidden_field_tag :password_digest, @user.password_digest %>
　　　　　　<%= f.submit  "プロフィールの登録を完了する", class: "form-submit" %>
　　　　　<% end %>
　　</div>
</div>