<div class="container">
    <div class="mypage-title">企業情報</div>
    <p>掲載されている企業情報をまとめています！<br>登録情報に基づいたおすすめ企業情報については<a href="#">こちら</a>。</p>
    <div class="content-companies-index">
        <div class="search-box">
            <div class="search-title">
                <p>絞り込み条件</p>
            </div>
            <div class="search-category">
                <div class="search-category-title">
                    <% if @IndustriesSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label2" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label2" checked="true" />
                    <% end %>
                    <label for="label2" class="search-way-title">業界</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:industry] %>
                            <% @industries.each do |i| %>
                                <%= check_box_tag :industry, i.id , @IndustriesSearch.include?(i.id), class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @industries.each do |i| %>
                                <%= check_box_tag :industry, i.id ,checked = false, class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if @AreasSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label3" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label3" checked="true" />
                    <% end %>
                    <label for="label3" class="search-way-title">地域</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:area] %>
                            <% @WorkAreas.each do |i| %>
                                <%= check_box_tag :work_area, i.id , @AreasSearch.include?(i.id),class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @WorkAreas.each do |i| %>
                                <%= check_box_tag :work_area, i.id ,checked = false,class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if @OccupationsSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label1" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label1" checked="true" />
                    <% end %>
                    <label for="label1" class="search-way-title">募集職種</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:occupation] %>
                            <% @occupations.each do |i| %>
                                <%= check_box_tag :occupation, i.id,@OccupationsSearch.include?(i.id) , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @occupations.each do |i| %>
                                <%= check_box_tag :occupation, i.id,checked = false , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if @WelfaresSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label5" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label5" checked="true" />
                    <% end %>
                    <label for="label5" class="search-way-title">福利厚生</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:welfare] %>
                            <% @welfares.each do |i| %>
                                <%= check_box_tag :welfare, i.id , @WelfaresSearch.include?(i.id),class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @welfares.each do |i| %>
                                <%= check_box_tag :welfare, i.id ,checked = false,class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if @FeaturesSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label6" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label6" checked="true" />
                    <% end %>
                    <label for="label6" class="search-way-title">企業の特徴</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:feature] %>
                            <% @features.each do |i| %>
                                <%= check_box_tag :company_feature, i.id,@FeaturesSearch.include?(i.id) , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @features.each do |i| %>
                                <%= check_box_tag :company_feature, i.id,checked = false , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="search-category-title">
                    <% if @PointsSearch.blank? %>
                    <input type="checkbox" class="search-way" id="label7" />
                    <% else %>
                    <input type="checkbox" class="search-way" id="label7" checked="true" />
                    <% end %>
                    <label for="label7" class="search-way-title">選考の特徴</label>
                    <div class="search-category-item hidden-show">
                        <% if params[:point] %>
                            <% @points.each do |i| %>
                                <%= check_box_tag :company_point, i.id,@PointsSearch.include?(i.id) , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% else %>
                            <% @points.each do |i| %>
                                <%= check_box_tag :company_point, i.id,checked = false , class:"category"%>
                                <%= label_tag i.name %><br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-contents" id="companies-results">
            <% if params[:industry] || params[:name]%>
                <div class="company-contents-wrapper">
                    <% @get_companies.each do |get_company| %>
                    <div class="company-box">
                        <div class="company-box-head-image">
                            <% if get_company.img.present? %>
                                <%= image_tag get_company.img.to_s %>
                            <% else %>
                                <img src="/assets/no_image.png">
                            <% end %>
                        </div>
                        <div class="company-box-head">
                            <p><% get_company.industries.limit(2).each do |h| %><span><%= h.name %> </span><% end %></p>
                            <div class="company-box-title">
                                <% if get_company.icon.present? %>
                                    <%= image_tag get_company.icon.to_s %>
                                <% else %>
                                    <img src="/assets/no_image.png">
                                <% end %>
                                <h2><a href="/companies/<%= get_company.id %>"></a><%= get_company.name %></h2>
                            </div>
                        </div>
                        <div class="company-box-foot">
                            <div class="company-box-features">
                                <% get_company.work_styles.limit(4).each do |a| %>
                                <div class="company-box-feature">
                                    <img src="/assets/重視する働き方.svg">
                                    <p><%= a.name %></p>
                                </div>
                                <% end %>
                                <% get_company.welfares.limit(4).each do |b| %>
                                <div class="company-box-feature">
                                    <img src="/assets/重視する福利厚生.svg">
                                    <p><%= b.name %></p>
                                </div>
                                <% end %>
                                <% get_company.company_features.limit(4).each do |c| %>
                                <div class="company-box-feature">
                                    <img src="/assets/重視する企業の特徴.svg">
                                    <p><%= c.name %></p>
                                </div>
                                <% end %>
                                <% get_company.company_points.limit(3).each do |d| %>
                                <div class="company-box-feature">
                                    <img src="/assets/重視する採用の特徴.svg">
                                    <p><%= d.name %></p>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <%= paginate(@get_companies) %>
            <% else %>
                <% if logged_in? && current_user.status == 'core_registered' %>
                <div class="recomended-search" id="recomended-first">
                    <p>あなたにオススメな検索</p>
                    <div class="recomended-search-contents">
                        <div class="recomended-before second">
                            <img src="/assets/progress_bar.svg">
                        </div>
                        <% @user.work_styles.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する働き方.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=<%= i.id %>&welfare=&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.welfares.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する福利厚生.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=<%= i.id %>&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.company_features.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する企業の特徴.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=<%= i.id %>&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.company_points.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する採用の特徴.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=&point=<%= i.id %>"></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.industries.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/志望業界.svg">
                            <p><a href="/companies?industry=<%= i.id %>&area=&occupation=&work_style=&welfare=&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <div class="recomended-after second">
                            <img src="/assets/progress_bar2.svg">
                        </div>
                    </div>
                </div>
                <div class="recomended-search" id="recomended-second">
                    <p>あなたにオススメな検索</p>
                    <div class="recomended-search-contents">
                        <div class="recomended-before first">
                            <img src="/assets/progress_bar.svg">
                        </div>
                        <% @user.work_areas.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/志望勤務エリア.svg">
                            <p><a href="/companies?industry=&area=<%= i.id %>&occupation=&work_style=&welfare=&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.company_points.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する採用の特徴.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=&point=<%= i.id %>"></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.occupations.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/志望職種.svg">
                            <p><a href="/companies?industry=&area=&occupation=<%= i.id %>&work_style=&welfare=&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.welfares.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する福利厚生.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=<%= i.id %>&feature=&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <% @user.company_features.order("RANDOM()").limit(1).each do |i| %>
                        <div class="recomended-search-content first">
                            <img src="/assets/重視する企業の特徴.svg">
                            <p><a href="/companies?industry=&area=&occupation=&work_style=&welfare=&feature=<%= i.id %>&point="></a><%= i.name %></p>
                        </div>
                        <% end %>
                        <div class="recomended-after first">
                            <img src="/assets/progress_bar2.svg">
                        </div>
                    </div>
                </div>
                <% else %>
                <div class="recomended-search">
                    <p>あなたにオススメな検索</p>
                    <div class="recomended-search-contents">
                        <div class="recomended-before">
                            <img src="/assets/progress_bar.svg">
                        </div>
                        <div class="recomended-search-contents">
                            
                        </div>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する企業の特徴.svg">
                            <p>部活動あり</p>
                        </div>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する働き方.svg">
                            <p>テレワーク</p>
                        </div>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する採用の特徴.svg">
                            <p>私服ok</p>
                        </div>
                        <div class="recomended-search-content">
                            <img src="/assets/重視する福利厚生.svg">
                            <p>年間休日多</p>
                        </div>
                        <div class="recomended-search-content">
                            <img src="/assets/志望業界.svg">
                            <p>商社</p>
                        </div>
                        <div class="recomended-after">
                            <img src="/assets/progress_bar2.svg">
                        </div>
                    </div>
                    <div class="recomended-search-middle">
                            <p>プロフィール登録後に<br>あなた専用のトップリンクに変わります</p>
                    </div>
                </div>
                <% end %>
                <div class="companies-wrapper">
                    <p>多角的な事業展開をしている企業</p>
                    <div class="companies-search">
                        <% Company.joins(:company_features).where(company_features: {id: [7]}).limit(8).each do |a| %>
                        <div class="company-search">
                            <% if a.icon.present? %>
                                <%= image_tag a.icon.to_s %>
                            <% else %>
                                <img src="/assets/no_image.png">
                            <% end %>
                            <p><a href="/companies/<%= a.id %>"><%= a.name %></a></p>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="companies-wrapper">
                    <p>年間休日が多い企業</p>
                    <div class="companies-search">
                        <% Company.joins(:welfares).where(welfares: {id: [15]}).limit(8).each do |a| %>
                        <div class="company-search">
                            <% if a.icon.present? %>
                                <%= image_tag a.icon.to_s %>
                            <% else %>
                                <img src="/assets/no_image.png">
                            <% end %>
                            <p><a href="/companies/<%= a.id %>"><%= a.name %></a></p>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="companies-wrapper">
                    <p>安定経営の企業</p>
                    <div class="companies-search">
                        <% Company.joins(:company_features).where(company_features: {id: [9]}).limit(8).each do |a| %>
                        <div class="company-search">
                            <% if a.icon.present? %>
                                <%= image_tag a.icon.to_s %>
                            <% else %>
                                <img src="/assets/no_image.png">
                            <% end %>
                            <p><a href="/companies/<%= a.id %>"><%= a.name %></a></p>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="recomended-companies">
        
    </div>
</div>

<script>
    $(document).on('turbolinks:load', function(){
    $('.category').on('change', function(){
    /// チェックされたvalue値を配列として取得
    var industry_vals = $('input[name=industry]:checked').map(function(){
      return $(this).val();
    }).get();
    var area_vals = $('input[name=work_area]:checked').map(function(){
        return $(this).val();
    }).get();
    var occupation_vals = $('input[name=occupation]:checked').map(function(){
        return  $(this).val();
    }).get();
    var work_style_vals = $('input[name=work_style]:checked').map(function(){
        return  $(this).val();
    }).get();
    var welfare_vals = $('input[name=welfare]:checked').map(function(){
        return  $(this).val();
    }).get();
    var feature_vals = $('input[name=company_feature]:checked').map(function(){
        return  $(this).val();
    }).get();
    var point_vals = $('input[name=company_point]:checked').map(function(){
        return  $(this).val();
    }).get();
    window.location.href = '/companies?industry=' + industry_vals + '&area=' + area_vals + '&occupation=' + occupation_vals + '&work_style=' + work_style_vals + '&welfare=' + welfare_vals + '&feature=' + feature_vals + '&point=' + point_vals + '#companies-results';
    
  });
  
  $('.company-box').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $('.company-search').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    $("#identity-condition-click").click(function () {
        if ($(this).text() === "+") {
            $(this).text("-");
        } else {
            $(this).text("+");
        }
        $('.'+$(this).attr('id')).toggle();
    });
    $('.section').hide();
    $('#recomended-second').hide();
    $('.second').click(function(){
        $('#recomended-second').show();
        $('#recomended-first').hide();
    });
    $('.first').click(function(){
        $('#recomended-first').show();
        $('#recomended-second').hide();
    });
    
    $('.recomended-search-content').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
});
</script>

