<div class="container">
    <a href="/mypage" class="profile-mypage-link"><検索結果に戻る</a>
    <div class="profile-form company-head-form">
        <div class="company-head">
            <div class="company-head-left">
                <%= image_tag @company.icon.to_s ,class: 'company-logo'%>
            </div>
            <div class="company-head-title">
                <p><% @company.industries.each do |a| %><span><%=a.name %> </span><% end %></p>
                <h2><%= @company.name %></h2>
            </div>
            <div class="company-head-right">
                <% if logged_in %>
                    <% if UserCompany.where(user_id: current_user.id,company_id: params[:id]).present? %>
                    <a href="#">お気に入り登録済み</a>
                    <% else %>
                    <%= link_to 'お気に入りに登録する',{controller: "companies", action: "like", id: @company.id }, method: :post %>
                    <% end %>
                <% else %>
                <a href="/login">お気に入りに登録する</a>
                <% end %>
            </div>
        </div>
        <div class="company-feature">
            <% @company.work_styles.each do|c| %>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span><%= c.name %></span>
            </div>
            <% end %>
            <% @company.welfares.each do|d| %>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span><%= d.name %></span>
            </div>
            <% end %>
            <% @company.company_features.each do|e| %>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span><%= e.name %></span>
            </div>
            <% end %>
            <% @company.company_points.each do|f| %>
            <div class="company-feature-logo">
                <img src="/assets/core_logo.svg">
                <span><%= f.name %></span>
            </div>
            <% end %>
        </div>
    </div>
    <div class="company-middle">
    　　<div class="company-middle-left">
        　　<div class="company-introduction">
            　　<div class="company-introduction-title">会社紹介</div>
            　　<%= simple_format(@company.introduction) %>
        　　</div>
        　　<div class="company-introduction">
            　　<div class="company-introduction-title">募集要項</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>募集職種</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(@company.company_requirement.occupation) %>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>業務内容</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(@company.company_requirement.work) %>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>応募資格</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(@company.company_requirement.qualification) %>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>休日・休暇</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(@company.company_requirement.holiday) %>
                　　</div>
            　　</div>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p>待遇・福利厚生</p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(@company.company_requirement.welfare) %>
                　　</div>
            　　</div>
            　　<% @company.company_profiles.each do |b| %>
            　　<div class="recruit-form">
                　　<div class="recruit-form-left">
                    　　<p><%= b.title %></p>
                　　</div>
                　　<div class="recruit-form-right">
                    　　<%= simple_format(b.content) %>
                　　</div>
            　　</div>
            　　<% end %>
        　　</div>
    　　</div>
    　　<div class="company-middle-right">
        　　<div class="company-information">
            　　<div class="company-introduction-title">会社情報</div>
        　　</div>
        　　<div class="company-event-information">
        　　    <div class="company-event-head">この企業のイベント情報</div>
        　　</div>
    　　</div>
    </div>
</div>
