<div class="header-image-div">
    <div class="container">
        <div class="top-wrapper">
            <%= image_tag @company.img.to_s %>
        </div>
    </div>
</div>
<div class="container">
    <div class="back-to-present">
        <a href="javascript:history.back()" class="profile-mypage-link"><検索結果に戻る</a>
    </div>
    <div class="profile-form company-head-form">
        <div class="company-head">
            <div class="company-head-left">
                <%= image_tag @company.icon.to_s ,class: 'company-logo'%>
            </div>
            <div class="company-head-title">
                <p><% @company.industries.each do |a| %><span><%=a.name %> </span><% end %></p>
                <h2><%= @company.name %></h2>
            </div>
            <div class="company-head-super-right" id="company-btn">
                <% if logged_in? %>
                    <% if UserCompany.where(user_id: current_user.id,company_id: params[:id]).present? %>
                        <div class="company-head-right company-head-next-right">
                            <%= link_to 'お気に入り登録済み', {controller: "companies", action: "dislike", id: @company.id } ,method: :delete, remote: true %>
                        </div>
                    <% else %>
                        <div class="company-head-right">
                            <%= link_to 'お気に入りに登録する',{controller: "companies", action: "like", id: @company.id }, method: :post, remote: true %>
                        </div>
                    <% end %>
                <% else %>
                    <div class="company-head-right">
                        <a href="/login">お気に入りに登録する</a>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="company-feature">
            <% @company.work_styles.each do|c| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する働き方.svg">
                <span><%= c.name %></span>
            </div>
            <% end %>
            <% @company.welfares.each do|d| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する福利厚生.svg">
                <span><%= d.name %></span>
            </div>
            <% end %>
            <% @company.company_features.each do|e| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する企業の特徴.svg">
                <span><%= e.name %></span>
            </div>
            <% end %>
            <% @company.company_points.each do|f| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する採用の特徴.svg">
                <span><%= f.name %></span>
            </div>
            <% end %>
        </div>
    </div>
    <div class="company-middle">
        <div class="company-middle-left">
            <div class="company-introduction">
                <div class="company-introduction-title">会社紹介</div>
                <%= simple_format(@company.introduction) %>
            </div>
            <% if @company.company_requirement.present? %>
            <div class="company-introduction">
                <div class="company-introduction-title">募集要項</div>
                <% if @company.company_requirement.occupation.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>募集職種</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.occupation) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.work.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>業務内容</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.work) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.qualification.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>応募資格</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.qualification) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.holiday.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>休日・休暇</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.holiday) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.welfare.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>待遇・福利厚生</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.welfare) %>
                        </div>
                    </div>
                <% end %>
                <% @company.company_profiles.each do |b| %>
                <div class="recruit-form">
                    <div class="recruit-form-left">
                        <p><%= b.title %></p>
                    </div>
                    <div class="recruit-form-right">
                        <%= simple_format(b.content) %>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="company-middle-right">
            <div class="company-information">
                <div class="company-introduction-title">会社情報</div>
                <div class="company-introduction-middle">
                    <div class="company-introduction-left">
                        <%= image_tag @company.icon.to_s ,class: 'company-logo'%>
                    </div>
                    <div class="company-introduction-right">
                        <%= @company.name %>
                    </div>
                    <% if @company.address.present? %>
                        <div class="company-introduction-left-second">
                            <img src="/assets/location2.svg" style="padding-right:9px;">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.address %>
                        </div>
                    <% end %>
                    <% if @company.category.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/category.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.category %>
                        </div>
                    <% end %>
                    <% if @company.people.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/company-member.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.people %>人
                        </div>
                    <% end %>
                    <% if @company.establishment.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/establishment.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.establishment %>
                        </div>
                    <% end %>
                    <% if @company.url.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/company-link.svg"></div>
                        <div class="company-middle-right-second">
                            <%= link_to @company.url, @company.url, target: :_blank %>
                        </div>
                    <% end %>
                </div>
            </div>
            <% if @company.events.present? %>
                <div class="company-event-information">
                   <div class="company-event-head">この企業のイベント情報</div>
                   <div class="company-event-middle">
                       <% if @company.events.where(category: 1).present? %>
                           <div class="company-event-title">本選考</div>
                           <ul class="company-event-links">
                               <% @company.events.where(category: 1).each do  |i|%>
                               <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                               <div class="company-event-link-left"><%=i.name  %></div>
                               <div class="company-event-link-right">></div>
                               </li>
                               <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 2).present? %>
                            <div class="company-event-title">インターン・ジョブ</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 2).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 3).present? %>
                            <div class="company-event-title">説明会・企業セミナー</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 3).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 4).present? %>
                            <div class="company-event-title">合同説明会・交流会</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 4).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
    $(function(){
    $('.company-event-link').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
});
</script>