<div class="header-image-div">
    <div class="container">
        <div class="top-wrapper">
            <%= image_tag @company.img.to_s %>
        </div>
    </div>
</div>
<div class="container">
    <div class="back-to-present">
        <a href="javascript:history.back()" class="profile-mypage-link"><検索結果に戻る</a>
    </div>
    <div class="profile-form company-head-form">
        <div class="company-head">
            <div class="company-head-left">
                <%= image_tag @company.icon.to_s ,class: 'company-logo'%>
            </div>
            <div class="company-head-title">
                <p><% @company.industries.each do |a| %><span><%=a.name %> </span><% end %></p>
                <h2><%= @company.name %></h2>
            </div>
            <div class="company-head-super-right" id="company-btn">
                <% if logged_in? %>
                    <% if UserCompany.where(user_id: current_user.id,company_id: params[:id]).present? %>
                        <div class="company-head-right company-head-next-right">
                            <%= link_to 'お気に入り登録済み', {controller: "companies", action: "dislike", id: @company.id } ,method: :delete, remote: true %>
                        </div>
                    <% else %>
                        <div class="company-head-right">
                            <%= link_to 'お気に入りに登録する',{controller: "companies", action: "like", id: @company.id }, method: :post, remote: true %>
                        </div>
                    <% end %>
                <% else %>
                    <div class="company-head-right">
                        <a href="/login">お気に入りに登録する</a>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="company-feature">
            <% @company.work_styles.each do|c| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する働き方.svg">
                <span><%= c.name %></span>
            </div>
            <% end %>
            <% @company.welfares.each do|d| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する福利厚生.svg">
                <span><%= d.name %></span>
            </div>
            <% end %>
            <% @company.company_features.each do|e| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する企業の特徴.svg">
                <span><%= e.name %></span>
            </div>
            <% end %>
            <% @company.company_points.each do|f| %>
            <div class="company-feature-logo">
                <img src="/assets/重視する採用の特徴.svg">
                <span><%= f.name %></span>
            </div>
            <% end %>
        </div>
    </div>
    <div class="company-middle">
        <div class="company-middle-left">
            <div class="company-introduction">
                <div class="company-introduction-title">会社紹介</div>
                <%= simple_format(@company.introduction) %>
            </div>
            <% if @company.company_requirement.present? %>
            <div class="company-introduction">
                <div class="company-introduction-title">募集要項</div>
                <% if @company.company_requirement.occupation.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>募集職種</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.occupation) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.work.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>業務内容</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.work) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.qualification.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>応募資格</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.qualification) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.holiday.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>休日・休暇</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.holiday) %>
                        </div>
                    </div>
                <% end %>
                <% if @company.company_requirement.welfare.present? %>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>待遇・福利厚生</p>
                        </div>
                        <div class="recruit-form-right">
                            <%= simple_format(@company.company_requirement.welfare) %>
                        </div>
                    </div>
                <% end %>
                <% @company.company_profiles.each do |b| %>
                <div class="recruit-form">
                    <div class="recruit-form-left">
                        <p><%= b.title %></p>
                    </div>
                    <div class="recruit-form-right">
                        <%= simple_format(b.content) %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="company-introduction">
                <div class="company-introduction-title">基本データ</div>
                <div class="recruit-form">
                    <div class="recruit-form-left">
                        <p>新卒採用の<br>職種別男女比</p>
                    </div>
                    <div class="recruit-form-right graf basic-datum">
                        <div class="graf-left">
                            <canvas id="myChart" style="position: relative; height:100%; width:100%;"></canvas>
                            <p>全体</p>
                        </div>
                        <div class="graf-right">
                            <canvas id="occupationChart" style="position: relative; height:auto; width:100%;,margin-top:20%;"></canvas>
                        </div>
                        <div class="graf-no-datum occupation-rate">
                            <p>データがありません</p>
                        </div>
                    </div>
                </div>
                <div class="recruit-form">
                    <div class="recruit-form-left">
                        <p>新卒採用の<br>文理別男女比</p>
                    </div>
                    <div class="recruit-form-right basic-datum">
                        <canvas id="humanityChart" style="position: relative; height:auto; width:100%"></canvas>
                        <div class="graf-no-datum">
                            <p>データがありません</p>
                        </div>
                    </div>
                </div>
                <div class="recruit-form">
                    <div class="recruit-form-left">
                        <p>働き方データ</p>
                    </div>
                    <div class="recruit-form-right graf basic-datum">
                        <div class="working-date-wrapper">
                            <div class="working-icon">
                                <img src="/assets/working_year.svg">
                            </div>
                            <div class="working-text">
                                <p>平均勤続年数</p>
                                <% if @company.company_general.blank? || (@company.company_general.present? && @company.company_general.work_duration.blank?) %>
                                    <p><span class="big-blue">15</span>年</p>
                                <% else %>
                                    <p><span class="big-blue"><%= @company.company_general.work_duration %></span>年</p>
                                <% end %>
                            </div>
                        </div>
                        <div class="working-date-wrapper">
                            <div class="working-icon">
                                <img src="/assets/overtime.svg">
                            </div>
                            <div class="working-text">
                                <p>平均残業時間</p>
                                <% if @company.company_general.blank? || (@company.company_general.present? && @company.company_general.overtime.blank?) %>    
                                    <p><span class="big-blue">30</span>時間</p>
                                <% else %>
                                    <p><span class="big-blue"><%= @company.company_general.overtime %></span>時間</p>
                                <% end %>
                            </div>
                        </div>
                        <div class="working-date-wrapper">
                               <div class="working-icon">
                                    <img src="/assets/rest.svg">
                                </div>
                                <div class="working-text">
                                    <p>有給休暇取得率</p>
                                    <% if @company.company_general.blank? || (@company.company_general.present? && @company.company_general.holiday_use.blank?) %> 
                                        <p><span class="big-blue">60</span>%</p>
                                    <% else %>
                                        <p><span class="big-blue"><%= @company.company_general.holiday_use %></span>%</p>
                                    <% end %>
                                </div>
                        </div>
                        <% if @company.company_general.blank? %>
                            <div class="graf-no-datum">
                                <p>データがありません</p>
                            </div>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="company-introduction">
                <div class="company-introduction-title">待遇(働き方・福利厚生等)データ</div>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>働き方</p>
                        </div>
                        <div class="recruit-form-right basic-datum">
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_telework.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>テレワーク(リモートワーク)</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% Telework.all.each do |i| %>
                                            <% if @company.teleworks.include?(i) %>
                                                <p><%=i.name %></p>
                                            <% else %>
                                                <p><%=i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_worktime.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>働く時間</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% WorkTime.all.each do |i| %>
                                            <% if @company.work_times.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="graf-no-datum">
                                <p>データがありません</p>
                            </div>
                        </div>
                    </div>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>給与</p>
                        </div>
                        <div class="recruit-form-right basic-datum">
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_salary.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>モデル年収</p>
                                    </div>
                                    <% if @company.salary.present? %>
                                        <div class="welfare-indivisual-graf">
                                            <% FirstSalary.all.each do |i| %>
                                                <% if i.id == @company.salary.first_salary_id %>
                                                    <p><%= i.name %></p>
                                                <% else %>
                                                    <p><%= i.name %></p>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    <% else %>
                                        <div class="welfare-indivisual-graf">
                                            <% FirstSalary.all.each do |i| %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_average_salary.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>平均給与(30歳)</p>
                                    </div>
                                    <% if @company.salary.present? %>
                                        <div class="welfare-indivisual-graf">
                                            <% AverageSalary.all.each do |i| %>
                                                <% if i.id == @company.salary.average_salary_id %>
                                                    <p><%= i.name %></p>
                                                <% else %>
                                                    <p><%= i.name %></p>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    <% else %>
                                        <div class="welfare-indivisual-graf">
                                            <% AverageSalary.all.each do |i| %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="graf-no-datum">
                                <p>データがありません</p>
                            </div>
                        </div>
                    </div>
                    <div class="recruit-form">
                        <div class="recruit-form-left">
                            <p>福利厚生</p>
                        </div>
                        <div class="recruit-form-right basic-datum">
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_house.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>住宅手当</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% HouseAllowance.all.each do |i| %>
                                            <% if @company.house_allowances.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_health.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>健康関連</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% Health.all.each do |i| %>
                                            <% if @company.healths.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_childcare.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>育児・介護関連</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% Nursing.all.each do |i| %>
                                            <% if @company.nursings.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_holiday.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>休暇関連</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% Holiday.all.each do |i| %>
                                            <% if @company.holidays.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="welfare-indivisual-wrapper">
                                <div class="welfare-indivisual-icon">
                                    <img src="/assets/welfare_disaster.svg">
                                </div>
                                <div class="welfare-indivisual-main">
                                    <div class="welfare-indivisual-title">
                                        <p>慶弔・災害関連</p>
                                    </div>
                                    <div class="welfare-indivisual-graf">
                                        <% Condolence.all.each do |i| %>
                                            <% if @company.holidays.include?(i) %>
                                                <p><%= i.name %></p>
                                            <% else %>
                                                <p><%= i.name %></p>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="graf-no-datum">
                                <p>データがありません</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="company-middle-right">
            <div class="company-information">
                <div class="company-introduction-title">会社情報</div>
                <div class="company-introduction-middle">
                    <div class="company-introduction-left">
                        <%= image_tag @company.icon.to_s ,class: 'company-logo'%>
                    </div>
                    <div class="company-introduction-right">
                        <%= @company.name %>
                    </div>
                    <% if @company.address.present? %>
                        <div class="company-introduction-left-second">
                            <img src="/assets/location2.svg" style="padding-right:9px;">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.address %>
                        </div>
                    <% end %>
                    <% if @company.category.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/category.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.category %>
                        </div>
                    <% end %>
                    <% if @company.people.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/company-member.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.people %>人
                        </div>
                    <% end %>
                    <% if @company.establishment.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/establishment.svg">
                        </div>
                        <div class="company-middle-right-second">
                            <%= @company.establishment %>
                        </div>
                    <% end %>
                    <% if @company.url.present? %>
                        <div class="company-middle-left-second">
                            <img src="/assets/company-link.svg"></div>
                        <div class="company-middle-right-second">
                            <%= link_to @company.url, @company.url, target: :_blank %>
                        </div>
                    <% end %>
                </div>
            </div>
            <% if @company.events.present? %>
                <div class="company-event-information">
                   <div class="company-event-head">この企業のイベント情報</div>
                   <div class="company-event-middle">
                       <% if @company.events.where(category: 1).present? %>
                           <div class="company-event-title">本選考</div>
                           <ul class="company-event-links">
                               <% @company.events.where(category: 1).each do  |i|%>
                               <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                               <div class="company-event-link-left"><%=i.name  %></div>
                               <div class="company-event-link-right">></div>
                               </li>
                               <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 2).present? %>
                            <div class="company-event-title">インターン・ジョブ</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 2).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 3).present? %>
                            <div class="company-event-title">説明会・企業セミナー</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 3).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                        <% if @company.events.where(category: 4).present? %>
                            <div class="company-event-title">合同説明会・交流会</div>
                            <ul class="company-event-links">
                                <% @company.events.where(category: 4).each do  |i| %>
                                <li class="company-event-link"><a href="/events/<%= i.id %>"></a>
                                <div class="company-event-link-left"><%=i.name  %></div>
                                <div class="company-event-link-right">></div>
                                </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
    $(function(){
    $('.company-event-link').click(function(){
        location.href=$(this).find('a').attr('href');
    });
    
    
});

 var dataLabelPlugin = {
    afterDatasetsDraw: function (chart, easing) {
    // To only draw at the end of animation, check for easing === 1
    var ctx = chart.ctx;

    chart.data.datasets.forEach(function (dataset, i) {
        var dataSum = 0;
        dataset.data.forEach(function (element){
            dataSum += element;
        });

        var meta = chart.getDatasetMeta(i);
        if (!meta.hidden) {
            meta.data.forEach(function (element, index) {
            // Draw the text in black, with the specified font

            var fontSize = 8;
            var fontStyle = 'normal';
            var fontFamily = 'Helvetica Neue';
                                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

            // Just naively convert to string for now
            var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

            // Make sure alignment settings are correct
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';

            var padding = 5;
            var position = element.tooltipPosition();
            ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
            });
        }
        });
    }
    };

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    datasets: [{
      label: 'A_kun',
      backgroundColor: [
              "#FFDEEB",
              "#DEEFFF"
          ],
      data: gon.all_date
    }]
  },
   options: {
        responsive: false,
        cutoutPercentage: 60
    },
  plugins: [dataLabelPlugin]
});

new Chart(document.getElementById("humanityChart"), {
  type: "horizontalBar",
  data: {
    labels: ["■文系", "■理系"],
    datasets: [
      { label: "女性", data: gon.humanity_date, backgroundColor: "#FFDEEB" },
      { label: "男性", data: gon.science_date, backgroundColor: "#DEEFFF" }
    ]
  },
  options: {
    legend: {
            display: false
    },
    plugins: {
      stacked100: { enable: true }
    },
    scales: {
        xAxes: [{
          display: false,
          stacked: false,
          gridLines: {
            display: false
          }
        }],
        yAxes: [{
          gridLines: {
            drawBorder: false,
            display: false
          }
        }]
    }
  }
});

new Chart(document.getElementById("occupationChart"), {
  type: "horizontalBar",
  data: {
    labels: ["■セールス職", "■エンジニア職", "■マーケティング職"],
    datasets: [
      { label: "女性", data: gon.occupation_woman_date, backgroundColor: "#FFDEEB" },
      { label: "男性", data: gon.occupation_man_date, backgroundColor: "#DEEFFF" }
    ]
  },
  options: {
    legend: {
            display: false
    },
    plugins: {
      stacked100: { enable: true }
    },
    scales: {
        xAxes: [{
          display: false,
          stacked: false,
          gridLines: {
            display: false
          }
        }],
        yAxes: [{
          gridLines: {
            drawBorder: false,
            display: false
          }
        }]
    }
  }
});

</script>