<div class="sign-up">
    <div class="form-heading">プロフィール登録(ステップ2/2)</div>
    <div class="form-explaration">
        <p>ID就活ではご登録情報を元に最適な就活サービスを提供いたします。<br>プロフィール情報は必ずご入力いただきますようお願いいたします。</p>
        <p class="profile-promise">※学生にとって不利益になる情報を企業にリークしたり、公開することは一切ありません。詳しくはプライバシーポリシーをご覧ください。</p>
    </div>
    <div class="general-profile">
        <div class="general-title">就活の軸</div>
    　　　<%= form_with model: @users_cores_form, method: :post, url: users_cores_path, local: true do |f| %>
             <div class="form-detail form-top">
                 <p>志望企業規模</p>
                 <div class="profile-core-form">
                    <%= f.collection_check_boxes(:company_scale_ids,CompanyScale.all, :id, :name) do |af| %>
                       <%= af.check_box(class: "checkbox")  %>
                       <%= af.label(class: "profile-check"){ af.text } %>
                    <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:company_scale_ids) %>
                    <p style="color: red;">志望企業規模を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>志望業界</p>
                 <div class="profile-core-form ">
                     <%= f.collection_check_boxes(:industry_ids,Industry.all, :id, :name) do |bf| %>
                        <%= bf.check_box(class: "checkbox")  %>
                       <%= bf.label(class: "profile-check"){ bf.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:industry_ids) %>
                    <p style="color: red;">志望業界を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>志望職種</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:occupation_ids,Occupation.all, :id, :name) do |cf| %>
                         <%= cf.check_box(class: "checkbox")  %>
                       <%= cf.label(class: "profile-check"){ cf.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:occupation_ids) %>
                    <p style="color: red;">志望職種を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>志望勤務エリア</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:work_area_ids,WorkArea.all, :id, :name) do |df| %>
                     <%= df.check_box(class: "checkbox")  %>
                       <%= df.label(class: "profile-check"){ df.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:work_area_ids) %>
                    <p style="color: red;">志望勤務エリアを1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>重視する働き方</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:work_style_ids,WorkStyle.all, :id, :name) do |ef| %>
                         <%= ef.check_box(class: "checkbox")  %>
                         <%= ef.label(class: "profile-check"){ ef.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:work_style_ids) %>
                    <p style="color: red;">重視する働き方を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>重視する福利厚生</p>
                 <div class="profile-core-form core-welfare">
                     <%= f.collection_check_boxes(:welfare_ids,Welfare.all, :id, :name) do |ff| %>
                        <%= ff.check_box(class: "checkbox")  %>
                        <%= ff.label(class: "profile-check"){ ff.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:welfare_ids) %>
                    <p style="color: red;">重視する福利厚生を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>重視する企業の特徴</p>
                 <div class="profile-core-form core-company-feature">
                     <%= f.collection_check_boxes(:company_feature_ids,CompanyFeature.all, :id, :name) do |gf| %>
                         <%= gf.check_box(class: "checkbox")  %>
                         <%= gf.label(class: "profile-check"){ gf.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:company_feature_ids) %>
                    <p style="color: red;">重視する企業の特徴を1つ以上選択してください。</p>
                 <% end %>
             </div>
             <div class="form-detail">
                 <p>重視するポイント</p>
                 <div class="profile-core-form">
                     <%= f.collection_check_boxes(:company_point_ids,CompanyPoint.all, :id, :name) do |hf| %>
                        <%= hf.check_box(class: "checkbox")  %>
                        <%= hf.label(class: "profile-check"){ hf.text } %>
                     <% end %>
                 </div>
                 <% if @users_cores_form.errors.include?(:company_point_ids) %>
                    <p style="color: red;">重視するポイントを1つ以上選択してください。</p>
                 <% end %>
             </div>
　　         <%= hidden_field_tag :id, @user.id %>
　　　　　　<%= f.submit  "プロフィールの登録を完了する", class: "form-submit" %>
　　　　　<% end %>
　　</div>
</div>
