<div class="event-entry-title">
    <h2>エントリー内容の確認</h2>
</div>
<div class="event-schedule-title">
    <div class="event-schedule-image">
        <%= image_tag @event.img.to_s %>
    </div>
    <div class="event-schedule-head">
        <div class="event-schedule-head-left">
            <% Company.joins(:events).where(events:{id:[@event.id]}).each do |i| %>
            <%=image_tag i.icon.to_s %>
            <% end %>
        </div>
        <div class="event-schedule-head-right">
            <p><%= @event.name %></p>
        </div>
    </div>
</div>
<div class="event-schedule-title schedule-top">
    <h2><%=@event_schedule.title %></h2>
    <div class="event-schedule">
        <%  if @event_schedule.holding_day.present? %>
            <img src="/assets/clock.svg">
            <p class="entry-date"><%= @event_schedule.holding_day.strftime("%m/%d") %><%= %w((日) (月) (火) (水) (木) (金) (土))[@event_schedule.holding_day.wday] %></p>
        <% end %>
        <% if @event_schedule.start_time.present? && @event_schedule.end_time.present? %>
            <p class="entry-time"><%= @event_schedule.start_time.strftime('%H:%M') %> - <%= @event_schedule.end_time.strftime('%H:%M') %></p>
        <% end %>
        <% if @event_schedule.address.present? && @event_schedule.place.present? %>
            <img src="/assets/location.svg">
            <p class="entry-location"><%= @event_schedule.address + @event_schedule.place%></p>
        <% end %>
    </div>
</div>
<div class="event-schedule-bottom">
    <%=link_to '戻る', event_path(@event),class:'event-schedule-bottom-left'%>
    <%= link_to 'エントリーを完了する',event_entry_index_path(event_schedule: params[:event_schedule]),method: :post,class:'event-schedule-bottom-right' %>
</div>
