<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>エントリー履歴</h2>
    
    <div class="profile-form">
        <div class="event-big-categories">
            <% if params[:category] == 'job' %>
                <div class="event-big-category">
                    <%=link_to '就活イベント', mypage_entry_path %>
                </div>
                <div class="event-big-category event-big-click">
                    <%=link_to '本選考', mypage_entry_path(category:'job') %>
                </div>
            <% else %>
                <div class="event-big-category event-big-click">
                    <%=link_to '就活イベント', mypage_entry_path %>
                </div>
                <div class="event-big-category">
                    <%=link_to '本選考', mypage_entry_path(category:'job') %>
                </div>
            <% end %>
        </div>
        <% if params[:category] != 'job' %>
            <div class="event-small-categories">
                <% if params[:category] %>
                    <div class="event-small-category">
                        <%=link_to 'インターン・ジョブ', mypage_entry_path %>
                    </div>
                <% else %>
                    <div class="event-small-category event-small-click">
                        <%=link_to 'インターン・ジョブ', mypage_entry_path %>
                    </div>
                <% end %>
                <% if params[:category] == 'seminar' %>
                    <div class="event-small-category event-small-click">
                        <%=link_to '説明会・企業セミナー', mypage_entry_path(category:'seminar') %>
                    </div>
                <% else %>
                    <div class="event-small-category">
                        <%=link_to '説明会・企業セミナー', mypage_entry_path(category:'seminar') %>
                    </div>
                <% end %>
                <% if params[:category] == 'group-seminar' %>
                    <div class="event-small-category event-small-click">
                        <%=link_to '合同説明会・交流会', mypage_entry_path(category:'group-seminar') %>
                    </div>
                <% else %>
                    <div class="event-small-category">
                        <%=link_to '合同説明会・交流会', mypage_entry_path(category:'group-seminar') %>
                    </div>
                <% end %>
                <% if params[:category] == 'job-prepare' %>
                    <div class="event-small-category event-small-click">
                        <%=link_to '就活対策', mypage_entry_path(category:'job-prepare') %>
                    </div>
                <% else %>
                    <div class="event-small-category">
                        <%=link_to '就活対策', mypage_entry_path(category:'job-prepare') %>
                    </div>
                <% end %>
            </div>
        <% end %>
        <% @events.each do |i| %>
        <div class="mypage-entry">
            <div class="mypage-entry-main-img">
                <%=image_tag i.img.to_s  %>
            </div>
            <div class="mypage-entry-middle">
                <div class="mypage-entry-middle-left">
                    <% Company.joins(:events).where(events:{id: i.id}).each do |a| %>
                    <%=image_tag a.icon.to_s %>
                    <% end %>
                </div>
                <div class="mypage-entry-right">
                    <%= i.name %>
                </div>
            </div>
            <% EventSchedule.includes(:user_events).where(user_events: {user_id: current_user.id,event_id: i.id}).each do |event_schedule| %>
            <div class="event-title">
                <h2><%=event_schedule.title %></h2>
                <img src="/assets/clock.svg">
                <p class="entry-date"><%= event_schedule.holding_day.strftime("%m/%d") %><%= %w((日) (月) (火) (水) (木) (金) (土))[event_schedule.holding_day.wday] %></p>
                <p class="entry-time"><%= event_schedule.start_time.strftime('%H:%M') %> - <%= event_schedule.end_time.strftime('%H:%M') %></p>
                <img src="/assets/location.svg" class="mypage-entry-img">
                <p class="entry-location"><%= event_schedule.address + event_schedule.place%></p>
            </div>
            <% end %>
            <div class="entry-change">
                <% if EventSchedule.where(event_id: i.id).count > 1 %>
                <%= link_to "日程変更", event_entry_edit_schedule_path(i) ,class: "entry-change-first" %>
                <% end %>
                <%= link_to "キャンセルする", event_entry_cancel_path(i) , class: "entry-change-second" %>
            </div>
        </div>
        <% end %>
        <div class="">
            
        </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage" class="green-button"><  マイページに戻る</a>
</div>