<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>設定</h2>
    <p>ID就活では入力した志望情報を元におすすめの企業、イベント情報をお伝えいたします。</p>
    <p>※企業が個人の志望情報を特定することはありません。(詳しくは<a href="#">こちら</a>)</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">アカウント情報</div>
           <div class="profile-title-right">
               <a href="/mypage/account" class="btn signup">編集する</a>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>メールアドレス：</p>
                </div>
                <div class="profile-context-right">
                    <p><%= @user.email %></p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>パスワード：</p>
                </div>
                <div class="profile-context-right">
                    <p>******************</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">受信設定</div>
           <div class="profile-title-right">
               <%= link_to '編集する', mypage_mail_type_path , class: 'btn signup' %>
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>メルマガ受信：</p>
                </div>
                <div class="profile-context-right">
                    <p><%= current_user.user_receive.magazine %></p>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>スカウト受信：</p>
                </div>
                <div class="profile-context-right">
                    <p><%= current_user.user_receive.scout %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">その他の設定</div>
           <div class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-exit">
                <%= link_to "＞ ログアウトする" , logout_path, {method: :delete}%>
                <a href="/mypage/deactivation">＞ 退会手続きをする</a>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage" class="green-button"><  マイページに戻る</a>
</div>