<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>スキル・経験</h2>
    <p>入力いただいたスキル・経験情報を元に、企業からスカウトを受け取ることができます。</p>
    <p>※スカウトの受け取りは<a href="#">受信設定</a>より行うことができます。</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">言語スキル</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>英検：</p>
                </div>
                <div class="profile-context-right" id="profile-user-eiken">
                    <%  if @user_eiken.nil? %>
                      <%= link_to "追加する",new_user_eiken_path, remote: true %>
                      <div id="eiken-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% else  %>
                      <p class="eiken-right"><%= current_user.user_eiken.eiken %><p>
                      <td class="eiken-left"><%= link_to '編集する', edit_user_eiken_path(@user_eiken), remote: true %></td>
                      <div id="eiken-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end  %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEIC：</p>
                </div>
                <div class="profile-context-right" id="profile-user-toeic">
                    <%  if @user_toeic.nil? %>
                      <%= link_to "追加する",new_user_toeic_path, remote: true %>
                      <div id="toeic-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% else  %>
                        <p class="eiken-right"><%= @user_toeic.toeic %>pt</p>
                        <td class="eiken-left"><%= link_to '編集する', edit_user_toeic_path(@user_toeic), remote: true %></td>
                        <div id="toeic-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEFL：</p>
                </div>
                <div class="profile-context-right" id="profile-user-toefl">
                    <%  if @user_toefl.nil? %>
                      <%= link_to "追加する",new_user_toefl_path, remote: true %>
                      <div id="toefl-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% else  %>
                      <p class="eiken-right"><%= @user_toefl.type %> <%= @user_toefl.toefl %>pt</p>
                      <td class="eiken-left"><%= link_to '編集する', edit_user_toefl_path(@user_toefl), remote: true %></td>
                      <div id="toefl-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end  %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>その他の言語：</p>
                </div>
                <div class="profile-context-right" id="profile-user-language">
                    <% UserLanguage.where(user_id: current_user.id).each do |user_language| %>
                        <p class="eiken-right eiken-dark"><%= user_language.language %>  <%= user_language.level %></p>
                        <td class="eiken-left eiken-dark"><%= link_to '編集', edit_user_language_path(user_language), remote: true %>・<%= link_to '削除',user_language_path(user_language), method: :delete, remote: true %></td>
                    <% end %>
                    <tr id="profile-user-language">
                    </tr>
                </div>
            </div>
            <%= link_to "+ 言語を追加する",new_user_language_path, class: 'mypage-programming-post', remote: true %>
             <div id="language-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">プログラミングスキル</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>言語：</p>
                </div>
                <div class="profile-context-right" id="profile-user-programming">
                    <% @user_programmings.each do |user_programming| %>
                      <p class="eiken-right programming-dark"><%= Programming.find_by(id: user_programming.programming_id).name %></p>
                      <td class="eiken-left programming-dark"><%= link_to '編集', edit_user_programming_path(user_programming), remote: true %>・<%= link_to '削除',user_programming_path(user_programming), method: :delete, remote: true %></td>
                      <p class="eiken-max eiken-dark"><%= user_programming.description %></p>
                    <% end %>
                </div>
            </div>
            <%= link_to "+ プログラミングスキルを追加する",new_user_programming_path, class: 'mypage-programming-post', remote: true %>
             <div id="programming-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">経歴</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>学生時代の経歴：</p>
                </div>
                <div class="profile-context-right" id="profile-user-experience">
                    <%  if @user_experience.nil? %>
                      <%= link_to "追加する",new_user_experience_path, remote: true %>
                      <div id="experience-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% else  %>
                      <p class="eiken-right"><%= current_user.user_experience.experience %></p>
                      <td class="eiken-left"><%= link_to '編集する', edit_user_experience_path(@user_experience), remote: true %></td>
                      <div id="experience-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end  %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>インターン経歴：</p>
                </div>
                <div class="profile-context-right" id="profile-user-internship">
                    <%  if @user_internship.nil? %>
                      <%= link_to "追加する",new_user_internship_path, remote: true %>
                      <div id="internship-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% else  %>
                      <p class="eiken-right"><%= current_user.user_internship.internship %></p>
                      <td class="eiken-left"><%= link_to '編集する', edit_user_internship_path(@user_internship), remote: true %></td>
                      <div id="internship-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end  %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage" class="green-button"><  マイページに戻る</a>
</div>