<div class="profile-container profile-top">
    <a href="/mypage" class="profile-mypage-link"><マイページに戻る</a>
    <h2>スキル・経験</h2>
    <p>入力いただいたスキル・経験情報を元に、企業からスカウトを受け取ることができます。</p>
    <p>※スカウトの受け取りは<a href="#">受信設定</a>より行うことができます。</p>
    
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">言語スキル</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>英検：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_eikens/index'  %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEIC：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_toeics/index' %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>TOEFL：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_toefls/index' %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>その他の言語：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_languages/index' %>
                </div>
            </div>
            <%= link_to "+ 言語を追加する",new_user_language_path, class: 'mypage-programming-post', remote: true %>
             <div id="language-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">プログラミングスキル</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>言語：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_programmings/index'  %>
                </div>
            </div>
            <%= link_to "+ プログラミングスキルを追加する",new_user_programming_path, class: 'mypage-programming-post', remote: true %>
             <div id="programming-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
    </div>
</div>
<div class="profile-container">  
    <div class="profile-form">
        <div class="profile-title">
           <div class="profile-title-left">経歴</div>
           <div　class="profile-title-right">
           </div>
        </div>
        <div class="profile-contexts">
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>学生時代の経歴：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_experiences/index' %>
                </div>
            </div>
            <div class="profile-context">
                <div class="profile-context-left">
                    <p>インターン経歴：</p>
                </div>
                <div class="profile-context-right">
                    <%= render '/user_internships/index' %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-container">
    <a href="/mypage" class="green-button"><  マイページに戻る</a>
</div>