<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))  %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale = 1.0,maximum-scale = 1.0,user-scalable = no">
    <%= analytics_init if Rails.env.production? %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/partner_header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>